apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"media-frontend","namespace":"media-prod"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"media-frontend"}},"template":{"metadata":{"labels":{"app":"media-frontend"}},"spec":{"containers":[{"image":"nginx:stable","name":"frontend","ports":[{"containerPort":80}]}]}}}}
  creationTimestamp: "2026-01-30T20:34:49Z"
  generation: 2
  name: media-frontend
  namespace: media-prod
  resourceVersion: "657520"
  uid: 50d6c654-2e2b-4abc-a19a-282935e0d020
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: media-frontend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2026-01-31T19:16:10+01:00"
      creationTimestamp: null
      labels:
        app: media-frontend
    spec:
      containers:
      - image: 851890292046.dkr.ecr.us-east-1.amazonaws.com/media-frontend:1.0.0
        imagePullPolicy: IfNotPresent
        name: frontend
        ports:
        - containerPort: 3000
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2026-01-30T20:34:50Z"
    lastUpdateTime: "2026-01-30T20:34:50Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2026-01-30T20:34:49Z"
    lastUpdateTime: "2026-01-31T18:16:13Z"
    message: ReplicaSet "media-frontend-65fbdf95b6" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 2
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
